{% extends 'base.html' %}

{% block navbar-content %}
    <i style="color: yellowgreen;" class="fas fa-user-alt"></i>&nbsp;&nbsp; Employee List
{% endblock navbar-content %}
{% block navbar-search %}
    <!-- Navbar Search -->
    <div class="d-flex" style="margin-right: 25px;">
        <div class="input-group input-group-sm">
            <input class="form-control" type="search" id="search" placeholder="Live search" aria-label="Search">
            <a href="{% url 'home' %}" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i></a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <br><br><br>

        <table class="table table-bordered" id="example" style="text-align: center;">
            <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Occupation</th>
                <th>Salary</th>
                <th>Gender</th>
            </tr>
            </thead>
            <!-- Data from backend -->
            {% for emlpoyee in employees %}
                <tr>
                    <td>{{ emlpoyee.id }}</td>
                    <td>{{ emlpoyee.name }}</td>
                    <td>{{ emlpoyee.email }}</td>
                    <td>{{ emlpoyee.occupation }}</td>
                    <td>{{ emlpoyee.salary }}</td>
                    <td>{{ emlpoyee.gender }}</td>
                </tr>
            {% endfor %}
        </table>
    </div> <!-- END // container -->
    <br><br><br><br>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Datatables JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>

    <!-- Datatables script -->
    <script>
        $("#example").DataTable({
            paging: true,
            pageLenght: 3,
            lengthChange: true,
            autoWidht: false,
            searching: true,
            order: [[4, 'desc']],
            bInfo: true,
            bSort: true,
            // BUTTONS
            dom: 'lBfrtip',
            buttons: [

                {
                    extend: 'copy',
                    text: '<i class="fas fa-clone"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Copy to clipboard',
                    exportOptions: {
                        columns: ':visible'
                    },
                },
                {
                    extend: 'csv',
                    text: '<i class="fas fa-file-csv"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Download as CSV',
                    exportOptions: {
                        columns: ':visible'
                    },
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa fa-print"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Print',
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (win) {
                        $(win.document.body).css('font-size', '10pt')
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                {
                    extend: 'pdfHtml5',
                    download: 'open',
                    text: '<i class="fas fa-file-pdf"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Download as PDF',
                    exportOptions: {
                        columns: ':visible'
                    },
                    // Center the table
                    tableHeader: {
                        alignment: 'center'
                    },
                    customize: function (doc) {
                        doc.styles.tableHeader.alignment = 'center';
                        doc.styles.tableBodyOdd.alignment = 'center';
                        doc.styles.tableBodyEven.alignment = 'center';
                        doc.styles.tableHeader.fontSize = 7;
                        // doc.defaultStyle.fontSize = 6;
                        //doc.content[1].table.widths =
                        //    Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    extend: 'colvis',
                    text: 'Columns'
                }
            ]
        });
        // Enable search box outside
        let newSearch = $("#example").DataTable();
        $('#search').keyup(function () {
            newSearch.search($(this).val()).draw();
        });
    </script>


{% endblock content %}